<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustierverleih</title>

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <%- include("../partials/navbar.ejs") %>

    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 100vh;" class=" uk-background-muted uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">    
        <table class="uk-table uk-table-hover uk-table-divider">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Ticket Art</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Kontaktgrund</th>
                    <th>Ticket Inhalt</th>
                    <th>User ID</th>
                </tr>
            </thead>
            <tbody>
                <% if (tickets.length > 0) {%>
                    <% tickets.forEach(ticket => { %>
                <tr>
                    <td class="ttid" id="dttid"><%= ticket.ttid %> </td>
                    <td class="ttart"><%= ticket.ttart %></td>
                    <td class="kanme"><%= ticket.kname %></td>
                    <td class="kemail"><%= ticket.kemail %></td>
                    <td class="kadresse"><%= ticket.kadresse %></td>
                    <td class="kselect"><%= ticket.kselect %></td>
                    <td class="ktext"><%= ticket.ktext %></td>
                    <td class="id"><%= ticket.id %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else { %>
            <p> Es gibt keine tickets</p>
        <% } %>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>