<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustierverleih</title>

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <%- include("../partials/navbar.ejs") %>
    
    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 100vh;" class=" uk-background-muted uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">    

        <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
            <% if (tiere.length > 0) {%>
                <% tiere.forEach(tier => { %>
            <div class="uk-width-1-5 uk-text-left uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-body "> <img data-src="images/vogel.png" alt="" uk-img width="50px" height="50px">
                    <br class="tid"> Kennung: <%= tier.tid %> 
                    <br class="tname"> Name: <%= tier.tname %>
                    <br class="talter"> Alter: <%= tier.talter %>
                    <br class="rasse"> Rasse: <%= tier.rasse %>
                </div>
             </div>
            <% }) %>
            <% }else { %>
                <p> Es gibt keine tiere</p>
            <% } %> 
        </div>
</div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>